---
import "../styles/global.css";
//Codigo Servber Side Only - Momento de construccion BUILD TIME
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "../const/siteInfo";
import NavBar from "@components/shared/NavBar.astro";
interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.descripcion,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- SEO -->
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Pablo Calvente" />
    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:image" content = {image} />
    <!-- Requerido -->
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-800 text-slate-100 flex flex-col min-h-screen">
    <NavBar />
    <main class="mt-10 mx-auto flex-grow max-w-4xl px-4">
      <slot />
    </main>
  </body>
</html>
